    

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,body{height: 100%;}


header{
    background-color: #8713b9;
    padding: 10px 2%;
    display: flex;
    justify-content:space-between;
    

}




.info-header{
    color: white;
    display: flex;   
    border: 2px solid white;
}


.info-header img {
    width: 50px;
    height: 50px;
    border-radius: 20px;
}

.icons-header,i{
    margin: 0 10px;

}

.main{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.sidebar a.sidebar-active{
    background-color: #d4d4db;
    border-left: 4px solid #73b4ff;    
    font-weight: bold;

}

.logo{
    margin-top: 8px;
}

.logo h3{
    cursor:pointer;
}

.icons-header{
    margin-top: 8px;
}
.icons-header a,img, i  {
    cursor: pointer;
}
.logo h3:hover{
    opacity: 0.7;
}

.sidebar a:hover{
    opacity: 0.7;
}
.info-header i:hover{
    opacity: 0.7;
}


.sidebar {

    width: 20%;
    background-color: white;
    height: 100%;
}

.sidebar h3 {
    color: #333;
    font-size: 20px;
    margin:10px ;
}

.sidebar a {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    color:rgb(59, 58, 58);
}

.content{
    width: 80%;
    background-color: rgb(245,245,245);
    padding: 20px;
}
hr {
color: #f3fb06;
opacity: 0.5;

}

.sidebar a:hover{
    background-color: #dbd4db;
    border-left: 2px solid #73b4ff;    
    font-weight: bold;
}

a{
    text-decoration: none;
}
.titulo-section{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.titulo-section i{
color: #ac06f3;
}

.titulo-section a {
color: #000000;
}

/* Box Total */

.box-info{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.box-info-single{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 10px;
    padding: 30px;
    margin: 0 1px;
   
}

.box-info-single i{
    font-size: 28px;
    color: #faef24;

}

.feed{
    background-color: white;
    border-radius: 10px;
    width: 100%;
    padding: 30px;
}

.feed-single{
    display: flex;
    justify-content: space-between;
}

.feed-text span{
    color: #000000;
}

.feed-time{
    color: #333;
}

.feed-text i {
    width: 20px;
    height: 20px;
    border-radius: 30px;   
    color: #c406f3;
}

canvas {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    font-weight: 15px;
    color: #333;
    
}


/* Sistema Financeiro */ 
.resume > div {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 10px;
    padding: 10px;
    width: 150px;
  }
  
  .newItem {
    display: flex;
    gap: 10px;
    align-items: end;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .divDesc, .divType, .divAmount {
    display: flex;
    flex-direction: column;
  }
  
  .newItem > button {
    background-color: #2C73D2;
    color: white;
    border: none;
    padding: 0 15px;
    border-radius: 5px;
    cursor: pointer;
    height: 34px;
  }
  
  input, select {
    padding: 5px;
  }
  
  .divTable {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  table {
    width: 98%;
    padding: 20px 0;
    border-radius: 5px;
  }
  
  th {
    text-align: start;
    border-bottom: inset;
    padding-bottom: 5px;
  }
  
  i {
    font-size: 25px;
  }
  
  .bxs-chevron-up-circle {
    color: #00C9A7;
  }
  
  .bxs-chevron-down-circle {
    color: #D83121;
  }
  
  .columnAction {
    width: 40px;
    text-align: center;
  }
  
  .columnAction > button {
    background: transparent;
    border: none;
  }
  
  .columnAmount {
    width: 30%;
  }
  
  .columnType {
    width: 80px;
    text-align: center;
  }
  
  article{
    background:linear-gradient(#fff,#c3c3b7,#9e08dffc );
    display: flex;
    border-radius: 10px;
    

  }

